## PROJE GÖREVLERİ

# GÖREV 1: Aşağıdaki soruları yanıtlayınız.

In [3]:
# Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)

persona = pd.read_csv("persona.csv")
df = persona.copy()
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [5]:
df.describe().T

        count     mean        std   min   25%   50%   75%   max
PRICE  5000.0  34.1320  12.464897   9.0  29.0  39.0  39.0  59.0
AGE    5000.0  23.5814   8.995908  15.0  17.0  21.0  27.0  66.0

In [6]:
df.shape

(5000, 5)

In [7]:
df.isnull().values.any()

False

In [8]:
df.isnull().sum()

PRICE      0
SOURCE     0
SEX        0
COUNTRY    0
AGE        0
dtype: int64

In [9]:
df.nunique()

PRICE       6
SOURCE      2
SEX         2
COUNTRY     6
AGE        46
dtype: int64

In [12]:
# Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
df["SOURCE"].unique()
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [14]:
# Soru 3: Kaç unique PRICE vardır?
df.PRICE.nunique()

6

In [15]:
# Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
df.PRICE.value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [16]:
# Soru 5: Hangi ülkeden kaçar tane satış olmuş?
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [17]:
# Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
df.groupby("COUNTRY").agg({"PRICE": "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [18]:
# Soru 7: SOURCE türlerine göre göre satış sayıları nedir?
df.SOURCE.value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [19]:
# Soru 8: Ülkelere göre PRICE ortalamaları nedir?
df.groupby("COUNTRY").agg({"PRICE": "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [21]:
# Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?
df.groupby(["SOURCE"]).agg({"PRICE": "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [22]:
# Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
df.groupby(["SOURCE", "COUNTRY"]).agg({"PRICE": "mean"})

                     PRICE
SOURCE  COUNTRY
android bra      34.387029
        can      33.330709
        deu      33.869888
        fra      34.312500
        tur      36.229437
        usa      33.760357
ios     bra      34.222222
        can      33.951456
        deu      34.268817
        fra      32.776224
        tur      33.272727
        usa      34.371703

# GÖREV 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?

In [23]:
agg_df = df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE": "mean"})
agg_df

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

# GÖREV 3: Çıktıyı PRICE'a göre sıralayınız.

In [26]:
agg_df.sort_values("PRICE", ascending=False)

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0
...                           ...
usa     ios     female 38    19.0
                       30    19.0
can     android female 27    19.0
fra     android male   18    19.0
deu     android male   26     9.0

[348 rows x 1 columns]

# GÖREV 4: Indekste yer alan isimleri değişken ismine çeviriniz.

In [27]:
agg_df = agg_df.reset_index()
agg_df

    COUNTRY   SOURCE     SEX  AGE      PRICE
0       bra  android  female   15  38.714286
1       bra  android  female   16  35.944444
2       bra  android  female   17  35.666667
3       bra  android  female   18  32.255814
4       bra  android  female   19  35.206897
..      ...      ...     ...  ...        ...
343     usa      ios    male   42  30.250000
344     usa      ios    male   50  39.000000
345     usa      ios    male   53  34.000000
346     usa      ios    male   55  29.000000
347     usa      ios    male   59  46.500000

[348 rows x 5 columns]

# GÖREV 5: AGE değişkenini kategorik değişkene çeviriniz ve agg_df'e ekleyiniz.

In [ ]:
my_bins = [0, 18, 23, 30, 40, agg_df["AGE"].max()]
my_labels = ["0_18", "19_23", "24_30", "31_40", "41_" + str(agg_df["AGE"].max())]

pd.cut(agg_df["AGE"], bins=my_bins, labels=my_labels)

In [30]:
agg_df["AGE_CUT"] = pd.cut(agg_df["AGE"], bins=my_bins, labels=my_labels)
agg_df.head(15)

   COUNTRY   SOURCE     SEX  AGE      PRICE AGE_CUT
0      bra  android  female   15  38.714286    0_18
1      bra  android  female   16  35.944444    0_18
2      bra  android  female   17  35.666667    0_18
3      bra  android  female   18  32.255814    0_18
4      bra  android  female   19  35.206897   19_23
5      bra  android  female   20  31.000000   19_23
6      bra  android  female   21  37.292683   19_23
7      bra  android  female   22  34.945946   19_23
8      bra  android  female   23  31.941176   19_23
9      bra  android  female   24  36.500000   24_30
10     bra  android  female   25  35.666667   24_30
11     bra  android  female   26  33.166667   24_30
12     bra  android  female   27  26.142857   24_30
13     bra  android  female   28  22.333333   24_30
14     bra  android  female   29  37.571429   24_30

# GÖREV 6: Yeni level based müşterileri tanımlayınız ve veri setine değişken olarak ekleyiniz.

In [31]:
agg_df.drop(["AGE", "PRICE"], axis=1).values

array([['bra', 'android', 'female', '0_18'],
       ['bra', 'android', 'female', '0_18'],
       ['bra', 'android', 'female', '0_18'],
       ...,
       ['usa', 'ios', 'male', '41_66'],
       ['usa', 'ios', 'male', '41_66'],
       ['usa', 'ios', 'male', '41_66']], dtype=object)

In [32]:
agg_df["CUSTOMERS_LEVEL_BASED"] = ["_".join(i).upper() for i in agg_df.drop(["AGE", "PRICE"], axis=1).values]
agg_df

    COUNTRY   SOURCE     SEX  AGE      PRICE AGE_CUT     CUSTOMERS_LEVEL_BASED
0       bra  android  female   15  38.714286    0_18   BRA_ANDROID_FEMALE_0_18
1       bra  android  female   16  35.944444    0_18   BRA_ANDROID_FEMALE_0_18
2       bra  android  female   17  35.666667    0_18   BRA_ANDROID_FEMALE_0_18
3       bra  android  female   18  32.255814    0_18   BRA_ANDROID_FEMALE_0_18
4       bra  android  female   19  35.206897   19_23  BRA_ANDROID_FEMALE_19_23
..      ...      ...     ...  ...        ...     ...                       ...
343     usa      ios    male   42  30.250000   41_66        USA_IOS_MALE_41_66
344     usa      ios    male   50  39.000000   41_66        USA_IOS_MALE_41_66
345     usa      ios    male   53  34.000000   41_66        USA_IOS_MALE_41_66
346     usa      ios    male   55  29.000000   41_66        USA_IOS_MALE_41_66
347     usa      ios    male   59  46.500000   41_66        USA_IOS_MALE_41_66

[348 rows x 7 columns]

# GÖREV 7: Yeni müşterileri (USA_ANDROID_MALE_0_18) segmentlere ayırınız.

In [33]:
agg_df["SEGMENT"] = pd.qcut(agg_df.PRICE, q=4, labels=["D", "C", "B", "A"])
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE      PRICE AGE_CUT     CUSTOMERS_LEVEL_BASED SEGMENT
0     bra  android  female   15  38.714286    0_18   BRA_ANDROID_FEMALE_0_18       A
1     bra  android  female   16  35.944444    0_18   BRA_ANDROID_FEMALE_0_18       B
2     bra  android  female   17  35.666667    0_18   BRA_ANDROID_FEMALE_0_18       B
3     bra  android  female   18  32.255814    0_18   BRA_ANDROID_FEMALE_0_18       C
4     bra  android  female   19  35.206897   19_23  BRA_ANDROID_FEMALE_19_23       B

In [34]:
agg_df.groupby("SEGMENT").agg({"PRICE": "mean"}).reset_index()

  SEGMENT      PRICE
0       D  27.302596
1       C  32.933339
2       B  35.436170
3       A  41.434736

# GÖREV 8: Yeni gelen müşterileri sınıflandırınız ne kadar gelir getirebileceğini tahmin ediniz.

In [36]:
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["CUSTOMERS_LEVEL_BASED"] == new_user]

    COUNTRY   SOURCE     SEX  AGE      PRICE AGE_CUT     CUSTOMERS_LEVEL_BASED SEGMENT
207     tur  android  female   31  40.666667   31_40  TUR_ANDROID_FEMALE_31_40       A
208     tur  android  female   32  43.000000   31_40  TUR_ANDROID_FEMALE_31_40       A

In [37]:
new_user = "FRA_IOS_FEMALE_31_30"
agg_df[agg_df["CUSTOMERS_LEVEL_BASED"] == new_user]
agg_df[agg_df["CUSTOMERS_LEVEL_BASED"] == "BRA_ANDROID_FEMALE_0_18"]

  COUNTRY   SOURCE     SEX  AGE      PRICE AGE_CUT    CUSTOMERS_LEVEL_BASED SEGMENT
0     bra  android  female   15  38.714286    0_18  BRA_ANDROID_FEMALE_0_18       A
1     bra  android  female   16  35.944444    0_18  BRA_ANDROID_FEMALE_0_18       B
2     bra  android  female   17  35.666667    0_18  BRA_ANDROID_FEMALE_0_18       B
3     bra  android  female   18  32.255814    0_18  BRA_ANDROID_FEMALE_0_18       C

In [38]:
df[["PRICE", "AGE"]].corr()

          PRICE       AGE
PRICE  1.000000 -0.010202
AGE   -0.010202  1.000000