## Görev 1

In [1]:
x = 8
type(x)

int

In [2]:
y = 3.2
type(y)

float

In [3]:
z = 8j + 18
type(z)

complex

In [4]:
b = True
type(b)

bool

In [5]:
c = 23 < 22
type(c)

bool

In [6]:
l = [1, 2, 3, 4]
type(l)

list

In [7]:
d = {"Name": "Jake",
     "Age": 27,
     "Adress": "Downtown"}
type(d)

dict

In [8]:
t = ("Machine Learning", "Data Science")
type(t)

tuple

In [9]:
s = {"Python", "Machine LEarning", "Data Science"}
type(s)

set

## Görev 2

In [10]:
text = "The goal is to turn data into information, and information into insights."
text_upper = text.upper()
text_split = text.split()
text_upper

'THE GOAL IS TO TURN DATA INTO INFORMATION, AND INFORMATION INTO INSIGHTS.'

In [11]:
text_split

['The',
 'goal',
 'is',
 'to',
 'turn',
 'data',
 'into',
 'information,',
 'and',
 'information',
 'into',
 'insights.']

## Görev 3

In [12]:
lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]

In [13]:
len(lst)

11

In [14]:
bir, on = lst[0], lst[10]
print(bir, on)

D E

In [15]:
new_list = lst[0:4]
new_list

['D', 'A', 'T', 'A']

In [16]:
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [17]:
lst.append("F")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'F']

In [18]:
lst.insert(8, "N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'F']

## Görev 4

In [19]:
dict = {"Christian": ["America", 18],
        "Daisy": ["England", 12],
        "Antonio": ["Spain", 22],
        "Dante": ["Italy", 25]}

In [20]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [21]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [22]:
dict["Daisy"][1] = 13
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [23]:
dict["Ahmet"] = ["Turkey", 24]
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [24]:
dict.pop("Antonio")
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

## Görev 5

In [25]:
l = [2, 13, 18, 93, 22]

def even_odds(list):
    even = []
    odd = []
    for i in list:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    
    return even, odd

even_odds(l)

([2, 18, 22], [13, 93])

## Görev 6

In [28]:
ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

engineering = ogrenciler[:3]
medicine = ogrenciler[3:]

for index, ogrenci in enumerate(ogrenciler):
    if index < 3:
        print(f"Mühendislik Fakültesi {index}. Öğrenci: {ogrenci}")
    else:
        print(f"Tıp Fakültesi {index - 3}. Öğrenci: {ogrenci}")

Mühendislik Fakültesi 0. Öğrenci: Ali
Mühendislik Fakültesi 1. Öğrenci: Veli
Mühendislik Fakültesi 2. Öğrenci: Ayşe
Tıp Fakültesi 0. Öğrenci: Talat
Tıp Fakültesi 1. Öğrenci: Zeynep
Tıp Fakültesi 2. Öğrenci: Ece

## Görev 7

In [30]:
ders_kodu = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3, 4, 2, 4]
kontenjan = [30, 75, 150, 25]

In [31]:
dersler = zip(kredi, ders_kodu, kontenjan)

for kredi, kod, kont in dersler:
    print(f"Kredisi {kredi} olan {kod} kodlu dersin kontenjanı {kont} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

## Görev 8

In [32]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

In [33]:
def set_diff(kume1, kume2):
    if kume1.issuperset(kume2):
        common = kume1.intersection(kume2)
        print(common)
    else:
        diff = kume2.difference(kume1)
        print(diff)

set_diff(kume1, kume2)

{'function', 'lambda', 'qcut', 'miuul'}